<h1><%= @recipe.name %><%= link_to 'Edytuj', edit_recipe_path(@recipe), class: "btn btn-info btn-lg pull-right" %></h1>

<div class="clearf"></div>
<div class="panel panel-default">
	<div class="panel-body">Składniki</div>
  	<div class="panel-footer"><%= raw @recipe.items %></div>
</div>

<div class="panel panel-default">
	<div class="panel-body">Opis</div>
  	<div class="panel-footer"><%= raw @recipe.description %></div>
</div>
Data utworzenia: <%= raw @recipe.created_at %><br />
Data ostatniej modyfikacji: <%= raw @recipe.updated_at %>